
.seven-cols .col-md-1, .seven-cols .col-sm-1, .seven-cols .col-lg-1, .seven-cols .col-xs-1 {
    width: calc(100% / 7);/*14.285714285714285714285714285714%;*/
    *width: 14.285714285714285714285714285714%;
  }

#calendar{
font-family:Helvetica,"TimesNewRoman",Times,serif;
}

#calendar * {
border-radius: 0px;
}

.box{
height:50px;
color: white;
line-height: 40px;
}

.header, .header .prev, .header .next, .header .title{
height: 100%;
line-height: 50px; 
}

.header .prev, .header .next, .header .title {
background-color: #57b846;
}

.header .prev, .header .next{
cursor:pointer;
text-decoration:none;
color: white;
}

.header .title{
font-size:18px;
}

.box-content{
border-top:none;
}

div.label{
margin-top:5px;
}

div.label div{
height:40px;
line-height:40px;
color:#000;
font-size:15px;
}

div.dates{
margin-bottom:5px;
}

div.dates div.row div{
margin-top:5px;
line-height:60px;
height:60px;
font-size:19px;
background-color:lightgray;
color:#000;
transition-duration: 0.4s;
}

div.dates div.row div:hover {
background-color: #7EC972;
}

.selezionato {
background-color: #57b846 !important;
}

:focus{
outline:none;
}

div.clear{
clear:both;
}